POSTGRES_DB=kvastram
POSTGRES_USER=kvastram
POSTGRES_PASSWORD=change_this_to_a_long_random_password

STORE_DOMAIN=yourdomain.com
STORE_WWW_DOMAIN=www.yourdomain.com
ADMIN_DOMAIN=admin.yourdomain.com
API_DOMAIN=api.yourdomain.com
