POSTGRES_DB=kvastram
POSTGRES_USER=kvastram
POSTGRES_PASSWORD=change_this_to_a_long_random_password

STORE_DOMAIN=kvastram.com
STORE_WWW_DOMAIN=www.kvastram.com
ADMIN_DOMAIN=admin.kvastram.com
API_DOMAIN=api.kvastram.com
